<?php require_once('layouts/header.php`'); ?>
<!------------------------------------------------------------------------------------------------------------------->
<div class="main">
    <div class="main-img">
        <img src="../images/books.jpg" class="banner" alt="banner"/>
    </div>
	<div id="navbar">
		<ul>
		<li><input style="border:2px solid black" type="text" placeholder="Name"></li>
		<li><input style="width:70px; text-align:left;" type="button" value="Search"></li>
		</ul>
	</div>
<article class="main container">
    <section>
	<div id="1">
	<table border="1" class="table table-striped">  <!--to auto increment # coln-->
		<thead>
            <tr  class="table-info">
                <th style="text-align:center; border-bottom:2px solid black; border-right:1px solid black;" scope="col">#</th>
                <th style="text-align:center; border-bottom:2px solid black;border-right:1px solid black;" scope="col">Name</th>
                <th style="text-align:center; border-bottom:2px solid black; border-right:2px solid black; " scope="col">Email</th>
                <th style="text-align:center; border-bottom:2px solid black; padding-left:10px" colspan="2" scope="col">Actions</th>
            </tr>
		</thead>
		<tbody> 
			<!--example-->
			 <tr>
			 <td></td> <!--numbered 1 as border-->
			  <td>Kate</td>
			  <td style="border-right:2px solid black;">kate@gmail.com</td>
			  <td style="text-align:center;"><button style="background-color:BLUE; font-weight:bold; color:white; border:2px solid black;" type="button">Edit</button></td>
			  <td style="text-align:center;"><button style="background-color:RED; font-weight:bold; color:white; border:2px solid black;" type="button">Delete</button></td>
			  
			  
			</tr>
			<tr>
			  <td></td> <!--numbered 2-->
			  <td>Anna</td>
			  <td style="border-right:2px solid black;">Anna@gmail.com</td>
			  <td style="text-align:center;"><button style="text-align:center; background-color:BLUE; font-weight:bold; color:white; border:2px solid black;" type="button">Edit</button></td>
			  <td style="text-align:center;"><button style="text-align:center; background-color:RED; font-weight:bold; color:white; border:2px solid black;" type="button">Delete</button></td>
			</tr>
			<td></td> <!--numbered 3-->
			 
			  <td>jack</td>
			  <td style="border-right:2px solid black;">jack@gmail.com</td>
			  <td style="text-align:center;"><button style="background-color:BLUE; font-weight:bold; color:white; border:2px solid black;" type="button">Edit</button></td>
			  <td style="text-align:center;"><button style="align:center; background-color:RED; font-weight:bold; color:white; border:2px solid black;" type="button">Delete</button></td>
			</tr>
			
			<tr>
			  <td></td> <!--numbered 4-->
			  <td>jerry</td>
			  <td style="border-right:2px solid black;">jerry@gmail.com</td>
			  <td style="text-align:center;"><button style="background-color:BLUE; font-weight:bold; color:white; border:2px solid black;" type="button">Edit</button></td>
			  <td style="text-align:center;"><button style="background-color:RED; font-weight:bold; color:white; border:2px solid black;" type="button">Delete</button></td>
			</tr>   
		</tbody>
	</table>
		</div>
    </section>
</article>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../js/jquery-3.3.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.validate.js"></script>
<script src="../js/main.js"></script>

</body>
</html>
