<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editCourse</title>
</head>
<body>
<form action="#" method="post">
    <input type="text" id="courseName" name="courseName" placeholder="Course Name">
    <select name="trackName" id="trackName">
        <option value="Track Name">Track Name</option>
        <option value="computer">computer</option>
        <option value="energy">energy</option>
        <option value="comm">comm</option>
    </select>
    <input type="text" id="instructor1" name="intructor1" placeholder="first instructor">
    <input type="text" id="instructor2" name="intructor2" placeholder="second instructor">
    <input type="text" id="description" name="description" placeholder="description">
    <input type="file" id="courseImage" accept="image/*">
    <input type="submit" name="submit" id="submit">
</form>
</body>
</html>   