<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createCourse</title>
</head>
<body>
<form action="/app/Controllers/createCourse.php" method="post">
    <input type="text" id="courseName" name="name" placeholder="Course Name">
    <input type="text" id="description" name="description" placeholder="description">
    <input type="text" id="track_id" name="track_id" placeholder="track_id">
    <input type="file" id="courseImage" name="image_path" accept="image/*">
    <button type="submit" >submit</button>
</form>
</body>
</html>