<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createAdmin</title>
</head>
<body>
<form action="/app/Controllers/createAdmin.php" method="post">
    <input type="text" id="adminName" name="name" placeholder="Admin Name">
    <input type="text" id="adminEmail" name="email" placeholder="Admin Email">
    <input type="password" id="adminPassword" name="password" placeholder="Admin Password">
    <button type="submit" name="submit" id="submit">submit</button>
</form>

</body>
</html>