<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createInstructor</title>
</head>
<body>

<form action="/ArkDevProject2/app/Controllers/createInstructor.php" method="post">
    <input type="text" id="instructorName" name="name" placeholder="Instructor Name">
    <input type="text" id="instructorEmail" name="email" placeholder="Instructor Email">
    <input type="text" id="bio" name="bio" placeholder="Instructor Biography">
    <input type="file" id="instructorImage" name="image" accept="image/*">
    <input type="submit" name="submit" id="submit">

</form>

</body>
</html>